{% extends 'index.html' %}
{% block content %}
{% load static %}

<style>
    .container{
        min-height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    :root{
        --shadow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
    }
    
    .top-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 40px;
        width: 90%;
        align-items: center;
        justify-content: center;
    }
    .handbook{
        height: 200px;
        width: 100%;
        background-color: yellow;
        position: relative;
        box-shadow: var(--shadow);
    }

    .handbook p{
        position: absolute;
        background-color: violet;
        top: 50%;
        width: 100%;
        left: 50%;
        transform: translate(-50% , -50%);
        margin: 0;
        
    }

    .handbook p span{
        display: flex;
        justify-content: center;
    }

    /* 2xl */
    @media (max-width: 1536px) {}

    /* xl */
    @media (max-width: 1280px) {}

    /* lg */
    @media (max-width: 1024px) {}

    /* md */
    @media (max-width: 768px) {
                
        .top-1{
            display: grid;
            grid-template-columns: 1fr 1fr; 
        }
    }

    /* sm */
    @media (max-width: 640px) {

    }

    /* xs */
    @media (max-width: 475px) {
        .top-1{
            grid-template-columns: 1fr; 
            padding-top: 35px;
        }

        .handbook{
            width: 100%;
        }
    }

</style>



<div class="container">
    <div class="top-1">
        <div class="handbook">
            <p><span>handbook</span></p>
        </div>
        <div class="handbook">
            <p><span>handbook</span></p>
        </div>
        <div class="handbook">
            <p><span>handbook</span></p>
        </div>
        <div class="handbook">
            <p><span>handbook</span></p>
        </div>
        <div class="handbook">
            <p><span>handbook</span></p>
        </div>
        <div class="handbook">
            <p><span>handbook</span></p>
        </div>
    </div>

</div>

{% endblock content %}